.wrapper {
    height: 7vw;
    width: 8vw;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
}

.stickerFonts {
    font-size: 2vh;
    font-weight: bold;
    color: #444444;
    overflow-wrap: break-word; 
    word-wrap: break-word;
    word-break: break-all;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}