.wrapper {
    height: 7vw;
    width: 8vw;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px -5px black
}

.stickerFonts {
    font-size: 2vh;
    font-weight: bold;
    color: #444444;
    word-break: break-word;
}