.button {
    padding: 5px 10px;
    margin: 10px;
    min-width: 10vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    user-select: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: none;
    transition: 0.3s;
}

.button:disabled {
    opacity: 0.5;
    cursor: default;
}

.accent {
    color: white;
    background: linear-gradient(220.46deg, #6F27E2 -2.59%, #8430CF 65.86%);
}

.regular {
    color: #6F27E2;
    box-shadow: inset 0 0 0 1px #8430CF;
    background: none;
}