/* flex: 1 - для того, чтобы область занимала всё место под header'ом */
.main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    background-color: #E4E4E4;
}

.work-area {
    height: 36vw;
    width: 36vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/* контейнер для заголовка и рабочей области */
.work-area-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    color: rgba(61, 72, 83, 0.6);
    margin-bottom: 2vh;
    font-size: 1.2rem;
}
