.window {
  background: rgba(0,0,0,.5);

}

.windowContent {
  width: 800px;
  height: 450px;
  background: #E4E4E4;
  margin: auto auto;
}

.windowHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 0 20px;
  margin-bottom: 10px;
}

.windowBody textarea {
  width: 100%;
  border: 0;
  padding: 8px 0 8px 20px;
  overflow: auto;
  resize: none;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.stickerTittle {
  height: 100px;
}

.stickerDescription {
  height: 200px;
}

textarea:focus::placeholder {
  color: transparent;
}

.windowFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7px;
}

.windowFooter button {
  border: 0;
  width: 200px;
  height: 35px;
  outline: none;
}

.cancel {
  margin-right: 50px;
  background: grey;
  color: white;
}

.accept {
  margin-left: 50px;
  background: white;
  color: grey;
}
