.wrapper {
    padding: 5px;
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
}

.wrapper:hover {
    background-color: darkgray;
}

.icon {
    height: 1rem;
}

.text {
    height: 1rem;
}