.wrapper {
    --text-color: #FFFFFF;
    --main-color: #A6ADB4;
    --hover-color: #707070;
    margin: 5px;
    padding: 5px;
    color: var(--text-color);
    background-color: var(--main-color);
    user-select: none;
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
}

.wrapper:hover {
    background-color: var(--hover-color);
}

.icon {
    background-size: contain;
    height: 1rem;
    width: 1rem;
}

.text {
    margin-right: 5px;
}