.wrapper {
    position: relative;
    height: 15vh;
    width: 9vw;
    border: dashed 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.horisontal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 3px;
    height: 20px;
    border-radius: 2px;
}

.vertical {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 3px;
    width: 20px;
    border-radius: 2px;
}