/* flex: 1 - для того, чтобы область занимала всё место под header'ом */
.main {
    flex: 1;
    display: flex;
    background-color: #E4E4E4;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tip {
    width: 70%;
    color: rgba(61, 72, 83, 0.6);
    margin-bottom: 10px;
}

.edit-form {
    height: 70vh;
    width: 80%;
    background-color: white;
    white-space: pre-line;
    padding: 8px;
    position: relative;
    overflow: auto;
}

.edit-button {
    height: 18px;
    width: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.edit-window {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: blue;
}

.edit-window textarea{
    font: inherit;
}