.wrapper {
    position: relative;
    height: 20vw;
    max-height: 35vh;
    width: 20vw;
    flex-grow: 1;
    border: solid 3px #E4E4E4;
    box-sizing: border-box;
    background-color: white;
}

.focused {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.dropzone {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.title {
    width: 100%;
    position: absolute;
    text-align: center;
}