.wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    border: solid 3px #E4E4E4;
    box-sizing: border-box;
    background-color: white;
}

.focused {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.dropzone {
    position: absolute;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 5px;
}