/*устанавливаем размеры квадрата,
задаём направление внутренних блоков,
делаем относительное позиционирование,
чтобы разместить иконку по центру*/
.wrapper {
    width: 40vw;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

/*центрирование иконки внутри блока,
создание рамки*/
.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: solid 5px #E4E4E4;
    width: 10vh;
    height: 10vh;
}