.segment-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 5vw;
    background-color: #E4E4E4;
}

.work-area-wrapper {
    height: 100%;
    padding-bottom: 10vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 5vh;
}