.wrapper {
    --main-color: #FCFCFC;
    --accent-color: #A6ADB4;
    display: flex;
    justify-content: space-between;
    background-color: var(--main-color);    
}

.left {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2vw;
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2vw;
}

.center {
    flex: 1;
    display: flex;
    justify-content: center;
}

.link-button {
    padding: 5px 10px;
    margin: 10px;
    min-width: 10vw;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
    border: none;
    font: inherit;
    text-decoration: none;
    outline: none;
    transition: 0.3s;
    color: white;
    background: linear-gradient(220.46deg, #6F27E2 -2.59%, #8430CF 65.86%);
}