.wrapper {
    position: absolute;
    height: 35vw;
    width: 35vw;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    background-color: white;
    padding: 0 15px 15px 15px;
    z-index: 3;
    overflow-y: scroll;
}

.blur {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    font-size: 1.1rem;
    width: 100%;
    text-align: center;
    font-family: "Arial";
    color: #707070;
    padding: 5px 0;
}