
.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after {
    opacity: 0.7;
    content: attr(data-title);
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    top: 26px;
    color: #fff;
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before {
    opacity: 0.7;
    border: solid;
    border-color: #333 transparent;
    border-width: 0 6px 6px 6px;
    top: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}
.icon:hover {
    cursor: help;
    opacity: 0.5;
}
.icon{
    padding: 2px;
}