/*позиционируем заголовок над основной частью*/
.App {
    font-family: Circe Regular;
    height: 100vh;
}

@font-face {
    font-family: 'Circe Regular';
    src: url('./fonts/Circe-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    }