.helpIcon {
    height: 1rem;
    width: 1rem;
    background-image: url('../../../icons/iconsSVG/QuestionMarkIcon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 5px;
    cursor: pointer;
}

.tooltip {
    text-align: start;
    background-color: #2b2b2b;
    color: #FFF;
    fill: #FFF;
  }